template(name='gridMenu')
	h3 gridMenu
	p various grid tests

	ul
		li
			a(href='/scroll0') /scroll0 
			| scrollview basic test for 'control'
		li
			a(href='/scroll1') /scroll1 
			| scrollview using jade
		li
			a(href='/grid0') grid0
			| spacebars
		li
			a(href='/grid1') grid1 
			| using - jade
